<div class="terminal">
  <nav class="terminal-bar">
    <div class="bar-operate">
      <div class="operate-box operate-box-close"></div>
      <div class="operate-box operate-box-min"></div>
      <div class="operate-box operate-box-max"></div>
    </div>
    <div class="terminal-title">
      🏡 anshi--bash
    </div>
  </nav>
  <div class="terminal-container">
    <pre class="terminal-content"><code [highlight]="content"></code></pre>
  </div>
</div>
<!--<div [innerHtml]="styleCode() | keephtml"></div>-->
